/* ==============================
      GOOGLE FONTS  
===============================*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* ==============================
       ROOT VARIABLES
===============================*/
:root {
  /* colors  */
  --primary-color: #30b868;
  --secondary-color: #001931;
  --body-color: #627382;
  --white-color: #ffffff;
  --black-color: #000000;
  --transparent: transparent;

  /* fonts  */
  --font-main: "Inter", sans-serif;
  --h1: 72px;
  --h2: 48px;
  --h3: 40px;
  --h4: 32px;
  --h5: 24px;
  --h6: 22px;
  --p-18: 18px;
  --p-16: 16px;
  --p-14: 14px;
}

/* ======================================
                  RESET
=======================================*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ======================================
                  BASE
=======================================*/

body {
  font-size: var(--p-16);
  font-family: var(--font-main);
  line-height: 26px;
  color: var(--body-color);
  background-color: var(--white-color);
}
.container {
  max-width: 1360px;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

/* ======================================
               Typography
=======================================*/
h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}
h6 {
  font-size: var(--h6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2;
}

/* ======================================
               BUTTONS
=======================================*/

.btn-primary {
  font-size: var(--p-16);
  line-height: normal;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--white-color);
  background-color: var(--primary-color);
  border-radius: 4px;
  padding: 14px 16px;
  border: 1px solid var(--primary-color);
  transition: 0.3s all ease-in-out;
  display: inline-block;
}
.btn-primary > span {
  margin-left: 10px;
}
.btn-primary:hover {
  color: var(--white-color);
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.secondary-btn {
  font-size: var(--p-16);
  line-height: normal;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--white-color);
  background-color: var(--transparent);
  border: 1px solid var(--white-color);
  border-radius: 4px;
  padding: 14px 16px;
  transition: 0.3s all ease-in-out;
  display: inline-block;
}
.secondary-btn > span {
  margin-right: 10px;
}
.secondary-btn:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

/* ======================================
               HEADERS
=======================================*/
header {
  padding: 16px 0;
}
.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo a img {
  max-width: 140px;
}
.navigation-menu nav ul {
  display: flex;
  gap: 32px;
}
.navigation-menu nav ul li {
  list-style: none;
}
.navigation-menu nav ul li > a {
  font-size: var(--p-16);
  line-height: 26px;
  font-weight: 500;
  color: var(--black-color);
  transition: 0.3s all ease-in-out;
}
.navigation-menu nav ul li > a:hover {
  color: var(--primary-color);
}

/* ======================================
               HERO
=======================================*/
#hero-section {
  background-image: url(../images/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 680px;
  align-content: center;
}

.hero-content {
  text-align: center;
}
.subtitle {
  display: inline-flex;
  gap: 6px;
  align-items: center;
  padding: 8px 12px;
  border-radius: 1000px;
  background-color: var(--white-color);
}
.hero-content > .subtitle p {
  font-size: 16px;
  color: #469165;
  font-weight: 500;
}
.hero-content h1 {
  font-size: var(--h1);
  color: var(--white-color);
  text-transform: capitalize;
  line-height: 82px;
  padding: 16px 0;
}
.highlight-heading {
  color: var(--primary-color);
}
.hero-content p {
  color: var(--white-color);
  font-size: var(--p-18);
  line-height: 28px;
}
.dual-button {
  display: flex;
  gap: 16px;
  margin-top: 32px;
  justify-content: center;
}
